@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .font-outline-2 {
    text-decoration: line-through;
  }
  .trans {
    transition: all 10s linear 4s;
  }

  .bg {
    background: linear-gradient(132deg, rgb(255, 0, 0) 0.00%, rgb(255, 213, 0) 100.00%);
  }
  .box-bg {
    background: linear-gradient(132deg, rgb(255, 127, 56) 0.00%, rgb(255, 196, 108) 100.00%);
  }

  .scrolll{
    overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  }
}
